#include "ace.h"

ACEconverter DIALOG 32768, 0, 210, 125
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "ACEconverter"
CAPTION "ACEconverter"
{
 CONTROL ".dxf File:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 10, 36, 10
 CONTROL "", IDD_FILE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 50, 10,110, 10
 CONTROL "Layer...Priority", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 47, 90, 10
 CONTROL "Priority", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 47, 50, 10
 CONTROL "Open", IDD_OPEN, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 25, 40, 14
 CONTROL "Convert", IDD_CONVERT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 60, 25, 40, 14
 CONTROL "Setup",IDD_SETUP, "BUTTON", BS_PUSHBUTTON | WS_CHILD |WS_VISIBLE | WS_GROUP | WS_TABSTOP, 110, 25, 40, 14
 CONTROL "Help", IDD_HELP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 165, 25, 40, 14
 CONTROL "", IDD_LAYER, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 10, 57, 130, 56
 CONTROL "", IDD_PRIORITY, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 150, 57, 50, 56
 CONTROL "", IDD_STATUS, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10,114,150, 10
}

PriorityBox DIALOG  20, 20, 112, 144
     STYLE WS_POPUP | WS_CAPTION
     CAPTION "Priority Properties"
     {
     RTEXT "Priority:"                         -1, 10, 10, 40, 10
     RTEXT "Release Plane"                     -1, 10, 82, 50, 10
     RTEXT "Close Enough"                      -1, 10,102, 50, 10
     LTEXT ""                        IDD_PRIODISP, 52, 10, 40, 10
     PUSHBUTTON "Pre-Priority Code"   IDD_PRECODE, 10, 22, 92, 14, WS_GROUP
     PUSHBUTTON "Post-Priority Code" IDD_POSTCODE, 10, 42, 92, 14, WS_GROUP
     AUTOCHECKBOX "Optimize"         IDD_OPTIMIZE, 10, 62, 80, 10, WS_GROUP
     EDITTEXT                         IDD_RELEASE, 62, 80, 40, 12, WS_GROUP
     EDITTEXT                           IDD_CLOSE, 62,100, 40, 12
     PUSHBUTTON "OK"                       IDD_OK, 10,120, 40, 14, WS_GROUP
     PUSHBUTTON "Cancel"               IDD_CANCEL, 62,120, 40, 14, WS_GROUP
     }

LayerBox DIALOG  20, 20, 112, 183
     STYLE WS_POPUP | WS_CAPTION
     CAPTION "Layer Properties"
     {
     RTEXT "Layer:"                          -1, 10, 10, 30, 10
     GROUPBOX "Arc Direction"                -1, 10, 38, 92, 54, WS_GROUP
     RTEXT "Z Offset"                        -1, 10,100, 40, 10
     RTEXT "Max Z/Pass"                      -1, 10,114, 40, 10
     RTEXT "Z Character"                     -1, 10,128, 40, 10
     RTEXT "Priority"                        -1, 10,142, 40, 10
     LTEXT ""                     IDD_LAYERDISP, 42, 10, 40, 10
     AUTOCHECKBOX "Turn Layer Off" IDD_LAYEROFF, 10, 24, 80, 10, WS_GROUP
     RADIOBUTTON "Doesn't Matter" IDD_EITHERARC, 20, 48, 80, 10, WS_GROUP | WS_TABSTOP
     RADIOBUTTON "Counter-Clockwise" IDD_CCWARC, 20, 62, 80, 10
     RADIOBUTTON "Clockwise"          IDD_CWARC, 20, 76, 80, 10
     EDITTEXT                       IDD_ZOFFSET, 52, 99, 50, 12, WS_GROUP
     EDITTEXT                         IDD_DEPTH, 52,113, 50, 12
     COMBOBOX                         IDD_ZCHAR, 52,127, 40, 48, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
     COMBOBOX                         IDD_PRIOR, 52,141, 40, 48, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
     PUSHBUTTON "OK"                     IDD_OK, 10,159, 40, 14  WS_GROUP
     PUSHBUTTON "Cancel"             IDD_CANCEL, 62,159, 40, 14, WS_GROUP
     }

ConvertBox DIALOG 20, 20, 195, 83
STYLE WS_POPUP | WS_CAPTION
CAPTION "Convert Options"
{
 CONTROL "Generate I and J as Relative Coordinates", IDD_IJREL, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 10,180, 10
 CONTROL "Generate I and J Before Other Coordinates in Block", IDD_IJFIRST, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 20,180, 10
 CONTROL "Generate Block Numbers", IDD_LINENUM, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 30,180, 10
 CONTROL "OK", IDD_OK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 77, 56, 40, 14
 CONTROL "Generate Z Only If Changing", IDD_ZONCHANGE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 39, 180, 12
}

SetupBox DIALOG 20,20,150,113
STYLE WS_POPUP | WS_CAPTION
CAPTION "Setup Options"
{
LTEXT "Dimesions Precision:" -1,10, 10, 70, 10
EDITTEXT IDD_PRECISION_EDIT, 90,10,49,10, WS_GROUP
CONTROL "", IDC_PRECISION_UPDOWN, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS |WS_BORDER | WS_GROUP, 120, 9, 20, 10
LTEXT "Default Z Offset:" -1,10, 25, 70, 10
EDITTEXT IDD_ZOFFSET_EDIT, 90,25,49,10, WS_GROUP
LTEXT "Default Max Z/Pass:", -1 10,40,70,10, WS_GROUP
EDITTEXT IDD_DEFMAXZPASS_EDIT, 90,40,49,10, WS_GROUP
LTEXT "Default Release Plane:", -1,10,55,80,10,WS_GROUP
EDITTEXT IDD_DEFRELEASEPLANE_EDIT, 90,55,49,10, WS_GROUP
LTEXT "Default Close Enough:", -1,10,70,80,10,WS_GROUP
EDITTEXT IDD_DEFCLOSEENOUGH_EDIT, 90,70,49,10, WS_GROUP
CONTROL "Ok", IDD_OK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 90, 40, 14
CONTROL "Cancel", IDD_CANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 95, 90, 40, 14
}

ACEconverter ICON 
{
'00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
'00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
'00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
'80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
'00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 0B B0 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 BB 0B 00 00 00 00 00 00 00 00 00'
'00 00 00 00 0B 00 00 B0 00 00 00 00 00 00 00 00'
'00 80 37 00 33 83 00 00 00 33 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 08 01 01 00 00 00 00 00'
'00 00 00 00 00 00 88 88 21 00 33 00 00 00 00 00'
'00 00 03 00 00 00 06 26 22 03 33 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 20 31 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 11 00 00 00 00 00'
'07 87 00 00 00 00 00 00 00 00 00 B0 00 00 00 00'
'0B 03 00 00 00 00 00 00 00 00 30 37 00 00 00 00'
'B0 38 00 00 00 00 00 00 00 00 00 0B 00 00 00 0B'
'30 88 20 00 00 00 00 00 00 10 77 00 B0 00 00 BB'
'00 83 00 02 82 33 38 87 77 78 77 00 0B 00 0B B0'
'00 00 00 26 08 02 73 07 07 0F 77 00 00 B0 0B 30'
'00 00 00 02 02 08 07 07 07 00 77 00 00 B7 00 B3'
'00 88 88 82 06 00 88 88 47 7F 77 00 0B 00 00 0B'
'00 86 28 88 88 88 88 77 77 FF 77 00 B0 00 00 00'
'B0 66 68 08 88 88 07 77 77 0F 88 0B 00 00 00 00'
'0B 46 08 88 88 88 07 78 77 78 88 0B 00 00 00 00'
'0B 84 40 00 00 08 F7 00 00 48 88 B0 00 00 00 00'
'00 86 60 00 00 00 00 00 00 08 88 00 00 00 00 00'
'00 86 60 00 00 00 00 00 00 08 88 00 00 00 00 00'
'00 86 66 00 00 00 00 00 06 88 88 00 00 00 00 00'
'00 78 66 60 00 00 02 00 46 66 66 00 00 00 00 00'
'00 78 66 66 62 80 00 66 66 66 66 00 00 00 00 00'
'00 76 66 66 66 86 66 66 44 46 66 00 00 00 00 00'
'00 78 88 88 88 66 66 66 66 66 66 00 00 00 00 00'
'00 00 00 00 00 BB 0B 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 0B B0 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 30 00 00 00 00 00 00 00 FF FF'
'FF FF FF FE 7F FF FF FC 3F FF FF F8 1F FF FC 00'
'00 3F FC 00 00 3F FC 00 00 3F FC 00 00 3F FC 00'
'00 3F FC 00 00 3F F8 00 00 1F F8 00 00 0F F0 00'
'00 0F E0 00 00 07 C0 00 00 03 80 00 00 01 80 00'
'00 00 C0 00 00 03 E0 00 00 07 F0 00 00 0F F8 00'
'00 0F F8 00 00 1F FC 00 00 3F FC 00 00 3F FC 00'
'00 3F FC 00 00 3F FC 00 00 3F FC 00 00 3F FC 00'
'00 3F FF FC 3F FF FF FE 7F FF FF FF 7F FF'
}


